button {
  display: inline;
}

body {
  background-color: black;
}

h1 {
  font-family: "Rubik", sans-serif;
  text-align: center;
  color: white;
}

p {
  text-align: center;
  color: white;
}

div {
  text-align: center;
}
